@tailwind base;
@tailwind components;
@tailwind utilities;

/* child styling when navigate to parent by "tabing" */
.navigated:focus-within .focused {
    --tw-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15), -4px -4px 12px white,
        inset 6px 6px 12px rgba(0, 0, 0, 0.1),
        inset -6px -6px 12px rgb(255 255 255);
    --tw-shadow-colored: 4px 4px 12px var(--tw-shadow-color),
        -4px -4px 12px var(--tw-shadow-color),
        inset 6px 6px 12px var(--tw-shadow-color),
        inset -6px -6px 12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}
